table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    width:30%;
    display:inline-table;
    table-layout:fixed;
    text-align: center;
}
td, th
{
    border: 1px solid black;
}
/*.tab1
{
	 margin: auto;
}
.tab2
{
	text-align: right;
}*/
.img
{
	float: left;
}
div
{
	font-size: 1.8em;


}
.imga
{
	float: right;
}
.hori
{
	font-size: 1.8em;
	float:left; 
}
.align
{
	text-align: ;
}
pre
{
	font-style: normal;
	font-family: New Type Roman
}
body
{
	/*background-color: gray;*/
	background-image: url(../images.jpg);
	background-attachment: fixed;
}
.al
{
	text-align: center;
}
.color
{
	color: auto;
	text-align: center;
}
.tail
{
	font-size: 1.5em
}